* {
  font-family: Arial, Helvetica, sans-serif;
}

.epic {
  border-top: thin;
  border-top-style: double;
  border-color: grey;
  border-bottom: grey;
  padding-top: 15px;
  padding-bottom: 15px;
}

.content {
  display: flex;
  margin: 100px auto 32px;
  max-width: 1400px;
  flex-direction: column;
}

.modal-head {
  color: white;
  background-color: black;
}

.closebutton {
  color: white;
  background-color: black;
  border-color: black;
  height: 70%;
}

.epicend {
  border-style: solid;
  border-top: thin;
  border-color: grey;
}

.category {
  margin-top: 80px;
}

.joinbutton {
  background-color: #990000;
  border-color: #990000;
  /* width: 90px; */
  align-self: center;
}

.addepic {
  background-color: #990000;
  border-color: #990000;
  width: 10%;
}