<NavBarComponent></NavBarComponent>

<div class="content ">
    <div class="row mb-5 justify-content-center">
        <img class="imgdolphin" height="400" width="640" src="../../assets/Exterminator-Dolhpin.png">
        <div class="spacer"></div>
        <img class="ml-5 imgrun" height="150" width="150" src="../../assets/404run.png">
    </div>
    <h4 class="text-center mt-5 bigtext"><b>404.... page not found</b></h4>
    <h4 class="text-center mt-5"><b>Our soldiers have not yet secured this page for use..... You should probably head home.</b></h4>
</div>