<div class="content largetext " role="main">
    <div class="row">
      <div class="col-8">
        <p>PROGRESSIO</p>
    
        <!-- Resources -->
        <h1>A student's view on project management</h1>
      
        <div class="description ">
              <h4>
                Progressio is a web application made for development teams or sole developers that
                like to keep all of their tasks organized. 
              </h4>
              <h4>
                Designed for easy use and co-operation with your fellow developers. Progressio strives
                to offer a new experience in the realm of project management.
              </h4>              
        </div>  
      </div>
  
      <div class="col-4 mt-5">
        <img height=500px src="../assets/progressio.png"/>
      </div>
    </div>
  
  <footer>
  
  </footer>
  
  
  
  
  
  </div>