<ng-template #content let-modal >
    <div class="modal-header modal-head">
        <h4 class="modal-title" id="modal-basic-title">Create Project</h4>
        <button type="button" class="closebutton" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (submit)="onSubmit(projectname.value)">
        <div class="modal-body">

            <input #projectname placeholder="projectname">

        </div>
        <div class="row">
            <div class="modal-footer col-6 justify-content-center">
                <button type="button justify-content-center" type="submit" class="btn btn-outline-dark" data-dismiss="modal">Create</button>
            </div>
        </div>

    </form>
</ng-template>

<button class="btn btn-danger mr-3 createbutton" (click)="open(content)">Create Project</button>