.content {
    display: flex;
    margin: 120px auto 32px;
    padding: 0 16px;
    max-width: 1400px;
    flex-direction: column;
  }

  .large-text {
    font-size: 80px;
  }

  .information-chunk {
    margin-top: 50px;
    width: 40%;
    align-self: center;
  }

  img {
    height: 10%;
    width: 10%;
    align-self: center;
  }