<ng-template #content let-modal>
    <div class="modal-header modal-head">
        <h4 class="modal-title" id="modal-basic-title">View epic</h4>
        <button type="button" class="closebutton" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (submit)="onSubmit(name.value, description.value)">
        <div class="modal-body">
            <p>Epic name</p>
            <input #name placeholder="name" value="{{handlingEpic.name}}"><br>

            <p>Epic Content</p>
            <input #description placeholder="content" value="{{handlingEpic.description}}">
            <p>Coupled userstories :</p>
            <div *ngFor="let userstory of handlingEpic.stories">
                <div class="row epic">
                    <div class="col-1">#{{userstory.priority}}</div>
                    <div class="col-4">{{userstory.name}}</div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="modal-footer col-5 justify-content-center">
                <button type="button" type="submit" class="btn btn-outline-dark" data-dismiss="modal">Save</button>
            </div>
            <div class="modal-footer col-5 justify-content-center">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal"
                    (click)="deleteEpic()">Delete</button>
            </div>
        </div>
    </form>
</ng-template>

<button class="btn btn-danger mr-3 addepic" (click)="open(content)">View</button>