<ProjectNavBarComponent></ProjectNavBarComponent>
<div class="ml-5 category">
    <h1><b>EPICS</b></h1>
</div>
<div class="content">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <h2><b>name</b></h2>
        </div>
    </div>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="row epic" cdkDrag *ngFor="let epic of epics">
            <div class="col-1">#{{epic.priority}}</div>
            <div class="col-4">{{epic.name}}</div>
            <epicupdatemodal class="col-6" [epic]="epic"></epicupdatemodal>
        </div>
    </div>



    <ModalComponent></ModalComponent>
</div>