<ng-template #content let-modal>
    <div class="modal-header modal-head">
        <h4 class="modal-title" id="modal-basic-title">View story</h4>
        <button type="button" class="closebutton" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (submit)="onSubmit(name.value, description.value, epic.value)">
        <div class="modal-body">

            <input #name placeholder="name" value="{{story.name}}">
            <input #description placeholder="content" value="{{story.content}}">

        </div>

        <h4>link to epic</h4>
        <select #epic ng-model="selected epic">
            <option></option>
            <option *ngFor="let epic of backlog.epics" value="{{epic.id}}">{{epic.name}}</option>
        </select>

        <div class="row justify-content-center">
            <div class="modal-footer col-5 justify-content-center">
                <button type="button" type="submit" class="btn btn-outline-dark" data-dismiss="modal">Save</button>
            </div>
            <div class="modal-footer col-5 justify-content-center">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal"
                    (click)="deleteStory()">Delete</button>
            </div>
        </div>


    </form>
</ng-template>

<button class="btn btn-danger mr-3 addepic" (click)="open(content)">View</button>