<NavBarComponent></NavBarComponent>

<div class="content">
  <div class="row" >
    <div class="col-4 d-flex justify-content-center project" *ngFor="let project of projects">
      <div class="card">
        <img src="../assets/progressio.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>{{project.name}}</b></h4>
          <div class="row containerinfo">
            <h2><b>{{project.users.length}}</b></h2>
            <img class="people ml-2" src="../../assets/programmer.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>